extends layout
block layout-content
  .container
    h1.mt-5.fw-bold.text-center About YouSentiment
    p.m-4
      | In December 2021, 
      a(href='https://www.youtube.com/', target='_blank') YouTube 
      | removed the “dislikes” from all its videos, this has made it harder for users to judge the quality of videos. The purpose of YouSentiment is to create a new indicator that would help users determine the “positiveness/negativeness” of YouTube videos.
    p.m-4
      | YouSentiment combines data from Text Processing API from 
      a(href='http://text-processing.com/docs/index.html', target='_blank') text-processing.com
      |  and 
      a(href='https://developers.google.com/youtube/v3', target='_blank') YouTube Data API
      | , providing users with a new way of discovering YouTube videos. When users search for videos on YouSentiment, the most relevant comments of each result would be sent to the Text Processing API for Sentiment Analysis.
