extends layout
block layout-content
  .d-flex.flex-column.align-items-center
    .container.text-center
      h1.mt-5.fw-bold Discover YouTube Videos with Natural Language Processing
      p.m-4 YouSentiment analyzes users&apos; comments to help indicate video quality
    .container
      form#search(name='search').w-100
        .input-group.mb-3.rounded-pill
          div.form-floating
            select#orderBy.form-select.rounded-0(name='orderBy', aria-label='Select sorting of results')
              option(value='relevance', selected) relevance
              option(value='date') upload date
              option(value='videoCount') view count
            label(for='orderBy') Sort by
          input#keyword.form-control(type='text', name='keyword', placeholder='Keyword', aria-label='Keyword')
          button#button-search.btn.btn-outline-secondary(type='submit', aria-label='Search').rounded-0
            i.bi.bi-search
    #results.container.d-flex.flex-row.flex-wrap.justify-content-center

